@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}
.selected{
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1rem;
  background-color:forestgreen;
}
.notselected{
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 10px;
  padding:7px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
}
.btn{
  background-color: #2ea1db;
  width: 10vw;
  margin: auto;
  padding: 2px;
  font-size: x-large;
  border:2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.btn-disabled{
  background-color: #188bc4;
  cursor: not-allowed;
  width: 10vw;
  margin: auto;
  padding: 2px;
  font-size: x-large;
  border:2px solid black;
  border-radius: 10px;
}
